
.build/
.swiftpm/

DerivedData/
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/

*.xcuserstate
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcsettings

*.log
*.swp
*.lock
.DS_Store
*.tmp